<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>My index</title>
    <!-- inject:css -->
    <!-- endinject -->
    <!-- vendorInject:js -->
    <!-- endinject -->
</head>

<body ng-controller="LoginController as Login">
    <nav class="navbar navbar-default">
        <!-- ng-show="Login.isAuthenticated()" -->
        <button ng-show="Login.isAuthenticated()" class="btn btn-link navbar-btn pull-right" ng-click="Login.logout()">Logout</button>
    </nav>
    <div class="container">
        <div class="well">
            <div class="form-group">
                <textarea rows=4 class="form-control" ng-model="Login.message" placeholder="tweet message"></textarea>
            </div>
            <button ng-hide="Login.isAuthenticated()" class="btn btn-primary" ng-click="Login.login()">Login</button>
            <button class="btn btn-default" ng-click="Login.tweet()">Tweet</button>
        </div>
        {{Login | json}}
    </div>
    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>
